h1 {
    color: red
}

/*footer style*/
footer {
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    display: flex;
    line-height: 3rem;
    text-align: center;

    box-shadow: 0 -2px 5px #888888
}
.footer-price {
    flex: 3;

    background: white;
    color: red;
}
.footer-button {
    flex: 1;

    background: red;
    color: white;
}

/*navigation bar style*/
.mint-navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.mint-navbar .mint-tab-item {
    padding: 5px 0;
    margin: 12px 0;
    border: 1px solid sandybrown !important;
    color: sandybrown !important;
}
.mint-tab-item.is-selected {
    background-color: sandybrown !important;
    color: white !important;
    margin: 12px 0 !important;
    border-bottom: 1px solid sandybrown !important;
}
.mint-tab-item:first-child {
    border-radius: .8rem 0 0 .8rem;
    border-right: none !important;
}
.mint-tab-item:last-child {
    border-radius: 0 .8rem .8rem 0;
    border-left: none !important;
}

/*tab container style*/
.mint-tab-container {
    padding: 50px 5px;
}
.mint-tab-container-item .production-detail-reason-row {
    display: flex;
}

/*production detail content style*/
.production-detail-banner img {
    width: 100%;
}
.production-detail-reason img {
    width: 100%;
}
.production-detail-reason-row-item {
    flex: 1;
    text-align: center;
}
.production-detail-reason-row-item img {
    width: 50%;
    margin: 0 auto;
}
.production-detail-reason-row-item p {
    font-size: .5rem;
    text-align: center;
    margin: 3px 0;
}
.production-detail-reason-row-item .reason-title {
    font-size: .6rem;
    font-weight: bolder;
    margin: 5px 0;
}
.production-detail-situation {
    text-align: center;
}
.production-detail-situation img{
    width: 24%
}
.production-detail-situation-title {
    font-weight: bolder;
    font-size: .9rem;
    margin: 1rem .9rem;
    clear: both;
}
.production-detail-situation-title .item-icon {
    display: inline-block;
    width: 11px;
    height: 13px;
    background: url("../images/triangle.png");
    background-size: cover;
    margin: 0 5px;
}
.highlight {
    color: red;
}
.production-detail-situation-pic {
    width: 85%;
    float: right;
    margin: 1rem auto;
}
.production-detail-choose {
    text-align: center;
}
.production-detail-choose img{
    width: 70%
}
.production-detail-choose-item {
    padding-left: .9rem;
}
.production-detail-choose-item > span {
    font-weight: bolder;
    font-size: .9rem;
    line-height: 2.5rem;
}
.production-detail-choose-item .range {
    height: 1.5rem;
    width: 90%;
    background-color: brown;
    margin: 0 auto;
    border-radius: 5px;
}
.production-detail-choose-item .range > div {
    height: 1.5rem;
    width: 40%;
    background-color: sandybrown;
    border-radius: 5px 0 0 5px;
}